.appointment_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

.appointment_section01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.section01_content {
    margin: 0 2rem;

    p {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .contact_number {
        color: #f7a801;
        margin-bottom: 1rem;
    }

    .section01_content_subtitle {
        font-size: 1rem;
        margin: 2rem 0 3rem;
    }

    .appointment_section01_link {
        display: flex;
        flex-direction: row;

        a {
            padding: 1rem 2rem;
            margin-right: 2rem;
            background-color: #f7a801;
            text-decoration: none;
            color: white;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                background-color: #1b242b;
            }
        }
    }
}    

.appointment_section02 {
    background-color: #f7a801;
    width: 100%;
    height: fit-content;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.appointment_location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    div {
        margin-left: 1rem;
    }
}

.appointment_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
    text-transform: uppercase;
    
    div {
        margin-left: 1rem;
    }
}

.appointment_work_hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    div {
        margin-left: 1rem;
    }
}