.home_bg_container {
  background-color: white;
}

.home_appointment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  h1 {
    margin-right: 1rem;
  }

  a {
    padding: 2rem;
    background-color: rgb(0, 162, 255);
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem royalblue;
    color: white;
    transition: all ease-in-out .3s;

    &:hover {
      transform: translateY(-5%);
      color: rgb(206, 206, 206);
    }
  }
}