.error_container {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: black;

    a {
        color: gray;

        &:hover {
            color: black;
        }
    }
}