.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(94, 92, 92);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_logo {
    margin: 0 1rem;

    img {
        width: 50%;
        height: 50%;
    }
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}